* {
    padding: 0;
    margin: 0;
    text-align: center;
    list-style-type: none;
  }
  
  header {
    background-color: rgb(0, 0, 165);
    height: fit-content;
    color: white;
  }
  
  main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
  }
  
  .location {
    display: flex;
    flex-direction: column;
    width: 20vw;
    padding: 5px 0;
    margin: 10px;
    justify-content: space-evenly;
  }
  
  #location-history {
    margin-top: 10px;
    padding: 15px 0px;
  }

  #location-history li {
    padding: 10px 0;
  }

  #location-history li button {
    width: 80%;
    height: 20px;
    border-radius: 5%;
    background: linear-gradient( rgb(209, 209, 255), rgba(101, 101, 178, 0.7));
  }

  .weather {
    display: flex;
    flex-direction: column;
    width: 65vw;
    margin: 10px;
    justify-content: space-evenly;
  }
  
  #weather-today {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
  }
  
  .today-text {
    display: flex;
    font-size: 25px;
    flex-direction: column;
    justify-content: space-evenly;
  }
  
  #today-img {
    height: 250px;
    width: 250px;
  }

  .weather5day {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  
  .weather5day img {
    height: 50px;
    width: 50px;
  }

  .days {
    color: white;
    background-color: rgb(0, 0, 165);
    height: 200px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  @media (max-width: 1032px) {
    main {
        flex-direction: column;
        align-items: center;
    }

    .location {
        width: 85vw;
    }

    .weather {
        align-items: center;
    }

    .weather5day {
        flex-direction: column;
        width: 50vw;
    }

    .days {
        height: fit-content;
        width: 100%;
        align-items: center;
        border: 1px solid white;
    }
  }

  @media (max-width: 644px) {
    #weather-today {
        flex-direction: column;
    }
  }